// <---------BACKGROUND_COLOR------------>
@banner_bgc: #2D2B31;
@main_bgc: #A9B089;
@main_bgc_w: #fff;
@nav_bgc: #E0E1DD;
@advantage_bgc: #f9f9f9;
@widget_bgc: #2e2b32;
//<----------COLORS---------------------->
@white_color: #fff;
//<----------BUTTON---------------------->
@btn_subcribe: #22505F;
@btn_shop_border: #252c26;
@btn_shop_text: #252c26;

//<-----------TEXT----------------------->
@main_color_text: #252c26;
@main_color_tw: #fff;
@final_price: #9a1a28;
//<-----------BORDER--------------------->
@border_title-center: #c9cac8;
@border_video: #A9B089;
//<--------------HOVER------------------->
@hover_link_buttom: #252c26;
@hover_btn-white: rgba(37,44,38,.5);