.d-flex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.btn-white {
  display: inline-block;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border: 1px solid #252c26;
  color: #252c26;
  padding: 11px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.4s ease;
}
.btn-white:hover {
  color: rgba(37, 44, 38, 0.5);
  border: 1px solid rgba(37, 44, 38, 0.5);
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/*1170*/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-content__logo {
    left: calc(52% - 145px);
  }
  .header-content__logo img {
    width: 230px;
  }
  .mini-search .search {
    width: 225px;
  }
  .mini-search .input-text {
    width: 190px;
    min-height: 32px;
    vertical-align: middle;
  }
  .nav-ul li {
    margin: 0;
  }
  .nav-ul li a {
    margin: 0 3px 0 0;
    padding: 0 3px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .panel {
    margin-bottom: 5px;
  }
  .panel__return-link {
    padding-right: 10px;
    text-align: center;
  }
  .panel__account {
    text-align: center;
  }
  .panel__account a.account-carrency span:after {
    transform: translate(0%, -50%) rotate(45deg);
  }
  .header-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-content__phone {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }
  .header-content__logo {
    position: static;
    order: -1;
  }
  .header-content__logo img {
    width: 220px;
    height: 100px;
  }
  .header-content__block-search {
    margin-bottom: 5px;
  }
  .above-menu {
    padding: 5px 0 3px;
  }
  .toogle-mobile-menu {
    position: absolute;
    bottom: 2%;
    left: 1%;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 4px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: transparent;
    padding: 0 4px;
    z-index: 1001;
  }
  .toogle-mobile-menu span {
    display: inline-block;
    height: 2px;
    background-color: #fff;
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
  }
  body.menu-opened .toogle-mobile-menu {
    border-color: #fff;
    transform: translateY(-150px) rotate(0deg);
  }
  body.menu-opened .toogle-mobile-menu span:nth-of-type(2) {
    opacity: 0;
  }
  body.menu-opened .toogle-mobile-menu span:nth-of-type(1) {
    transform-origin: 0 0;
    transform: translateX(6px) translateY(2px) rotate(405deg);
  }
  body.menu-opened .toogle-mobile-menu span:nth-of-type(3) {
    transform-origin: 0 0;
    transform: translateX(4px) translateY(-1px) rotate(-405deg);
  }
  .nav-ul {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  body.menu-opened {
    overflow: hidden;
  }
  body.menu-opened .nav-ul {
    transform: translateX(0);
  }
  .nav-ul {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-ul li {
    margin-left: 10px;
    padding: 2px;
    display: block;
  }
  .nav-ul li a {
    font-size: 20px;
    padding: 0 3px;
    color: #fff;
  }
  .product__item {
    align-items: center;
  }
  .video-product {
    flex-direction: column;
  }
  .video-product__container {
    margin-bottom: 15px;
  }
  .video-product__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .video-product__content {
    height: auto;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .header-content__phone {
    margin-bottom: 10px;
  }
  .sct-sale {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sale-main {
    height: auto;
  }
  .sale-main__title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  .sale-main__percent {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .sale-main__subtitle {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .sale-main__remark {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .widget-site p {
    padding: 1px;
    font-size: 10px;
  }
  .advantage-shop__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-shops {
    flex-direction: column;
    align-items: center;
  }
  .shipping {
    padding: 10px 10px;
  }
  .shipping__title {
    line-height: 1;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .shipping__subtitle {
    font-size: 10px;
  }
  .exclusive-irish__item {
    left: 0;
  }
  .exclusive-category {
    flex-direction: column;
  }
  .exclusive-category__item {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
  .exclusive-category__image {
    margin-bottom: 10px;
  }
  .exclusive-category__content .title {
    margin-bottom: 5px;
  }
  .best-products {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .title-center {
    margin-bottom: 10px;
  }
  .video-product {
    flex-direction: column;
  }
  .video-product__container {
    margin-bottom: 10px;
  }
  .video-product__content {
    height: auto;
    padding: 0 5px 10px 5px;
  }
  .video-product__content .title {
    margin-bottom: 5px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .best-products .title-center span {
    font-size: 22px;
    padding: 0 5pxsta;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
