@import "mixins";
@import "veriables";
@import "colors";
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
/*1170*/
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-content {
    &__logo {
      left: calc(52% - 145px);

      img {
        width: 230px;
      }
    }
  }

  .mini-search {
    .search {
      width: 225px;
    }

    .input-text {
      width: 190px;
      min-height: 32px;
      vertical-align: middle;
    }
  }

  .nav-ul {

    li {
      margin: 0;

      a {
        margin: 0 3px 0 0;
        padding: 0 3px;
      }
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .panel {
    margin-bottom: 5px;

    &__return-link {
      padding-right: 10px;
      text-align: center;
    }

    &__account{
      text-align: center;
      a{
        &.account-carrency{
          span{
            &:after{
              transform: translate(0%, -50%) rotate(45deg);
            }
          }
        }
      }
    }

  }
  .header-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__phone {
      margin-bottom: 20px;
      text-align: center;
      max-width: 100%;
    }

    &__logo {
      position: static;
      order: -1;

      img {
        width: 220px;
        height: 100px;
      }
    }

    &__block-search {
      margin-bottom: 5px;
    }
  }
  .above-menu {
    padding: 5px 0 3px;
  }

  .toogle-mobile-menu {
    position: absolute;
    bottom: 2%;
    left: 1%;
    width: 25px;
    height: 25px;
    border: 2px solid @main_bgc_w;
    border-radius: 4px;
    .d-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: transparent;
    padding: 0 4px;
    z-index: 1001;

    span {
      display: inline-block;
      height: 2px;
      background-color: @main_bgc_w;
      margin: 2px 0;
      transition: all .3s ease-in-out;
    }
  }

  body.menu-opened .toogle-mobile-menu {
    border-color: @main_bgc_w;
    transform: translateY(-150px) rotate(0deg);

    span:nth-of-type(2) {
      opacity: 0;
    }

    span:nth-of-type(1) {
      transform-origin: 0 0;
      transform: translateX(6px) translateY(2px) rotate(405deg)
    }

    span:nth-of-type(3) {
      transform-origin: 0 0;
      transform: translateX(4px) translateY(-1px) rotate(-405deg)
    }
  }

  .nav-ul {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  body.menu-opened {
    overflow: hidden;

    .nav-ul {
      transform: translateX(0);
    }
  }

  .nav-ul {
    .d-flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      margin-left: 10px;
      padding: 2px;
      display: block;

      a {
        font-size: 20px;
        padding: 0 3px;
        color: @main_color_tw;
      }
    }

  }
  .product__item {
    align-items: center;
  }

  //<-----VIDEO-IRISH--------->
  .video-product{
    flex-direction: column;
    &__container{
      margin-bottom: 15px;
    }
    &__item{
      width: 100%;
      margin-bottom: 10px;
    }

    &__content{
      height: auto;
      .title{

      }

    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .header-content__phone {
    margin-bottom: 10px;
  }
  // <----SCT-SALE---->
  .sct-sale {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sale-main {
    height: auto;

    &__title {
      font-size: 18px;
      margin-bottom: 5px;
      text-align: center;
    }

    &__percent {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 5px;
    }
    &__remark{
      font-size: 14px;
      line-height: 1;
      margin-bottom: 15px;

    }
  }

  .widget-site p {
    padding: 1px;
    font-size: 10px;
  }

  //<----ADVANTAGE-SHOP--->
  .advantage-shop{
    &__item{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .main-shops {
    flex-direction: column;
    align-items: center;
  }
  .shipping {
    padding: 10px 10px;
    &__title{
      line-height: 1;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &__subtitle{
      font-size: 10px;
    }
  }
  //<-----SCT-EXCLUSIVE------>
  .exclusive-irish {
    &__item {
      left: 0;
    }
  }
  .exclusive-category{
    flex-direction: column;
    &__item {
      .d-flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 10px;
    }
    &__image{
      margin-bottom: 10px;
    }
    &__content{
      .title{
        margin-bottom: 5px;
      }
    }
  }
  .best-products {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .title-center{
    margin-bottom: 10px;
  }

  //<----VIDEO_IRISH------->
  .video-product{
    flex-direction: column;
    &__container{
      margin-bottom: 10px;
    }
    &__content{
      height: auto;
      padding: 0 5px 10px 5px;
      .title{
        margin-bottom: 5px;
      }

    }
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .best-products .title-center span {
    font-size: 22px;
    padding: 0 5pxsta;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}