@import "colors";

.d-flex{
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.btn-white{
  display: inline-block;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border: 1px solid @btn_shop_border;
  color: @btn_shop_text;
  padding: 11px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.4s ease;
  &:hover{
    color: @hover_btn-white;
    border: 1px solid @hover_btn-white;
  }
}

