html {
  padding: 0;
  margin: 0;
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}
html p {
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
}
html img {
  border: none;
  max-height: 100%;
  max-width: 100%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
html strong {
  font-weight: bold;
}
html em {
  font-style: italic;
}
html form,
html menu,
html iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
html ol,
html ul,
html dl,
html li,
html dt,
html dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
html table {
  width: 100%;
  border-collapse: collapse;
}
html * {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
button {
  border: none;
}
.d-flex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.btn-white {
  display: inline-block;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border: 1px solid #252c26;
  color: #252c26;
  padding: 11px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.4s ease;
}
.btn-white:hover {
  color: rgba(37, 44, 38, 0.5);
  border: 1px solid rgba(37, 44, 38, 0.5);
}
* {
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  transition: all 0.3ms;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  position: relative;
}
.banner-top {
  background-color: #2D2B31;
  text-align: center;
  padding: 10px 0;
}
.banner-top h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}
.banner-top p {
  font-size: 13px;
  color: #fff;
  margin: 0;
}
.above-menu {
  background-color: #A9B089;
  padding: 5px 0 32px;
}
.panel {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
.panel__return-link a {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 16px;
}
.panel__return-link a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 2px;
  background-image: url("../images/globe.svg");
  background-repeat: no-repeat;
  transform: translateY(4px);
  margin-right: 2px;
}
.panel__account a {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 10px;
  color: #fff;
}
.panel__account a:last-child {
  margin-right: 0;
}
.panel__account a.account-link:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 3px;
}
.panel__account a.account-carrency {
  display: inline-block;
  position: relative;
}
.panel__account a.account-carrency span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  top: 40%;
  transform: translate(-50%, 10%);
  position: relative;
  margin-left: 10px;
}
.panel__account a.account-carrency span:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid #a9b089;
  border-bottom: 1px solid #a9b089;
  transform: translate(50%, -60%) rotate(45deg);
}
.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-content__phone {
  line-height: 0.8;
  position: relative;
  max-width: 250px;
}
.header-content__phone:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
}
.header-content__phone span {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}
.header-content__phone span:last-child {
  margin-bottom: 0;
}
.header-content__phone .phone-number {
  color: #252c26;
  font-weight: 700;
  text-align: left;
  position: relative;
  font-size: 14px;
}
.header-content__logo {
  position: absolute;
  left: calc(50% - 145px);
  top: -80%;
}
.header-content__logo img {
  width: 290px;
  height: 110px;
}
.mini-search {
  display: flex;
}
.mini-search .search {
  width: 240px;
  min-height: 32px;
  position: relative;
}
.mini-search .input-text {
  font-size: 14px;
  padding: 0 9px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-weight: 700;
  letter-spacing: 1px;
  width: 210px;
  min-height: 32px;
  vertical-align: middle;
}
.mini-search .input-text::placeholder {
  color: #252c26;
}
.mini-search .button-submit {
  cursor: pointer;
  min-height: 32px;
  width: 40px;
  display: inline-block;
  background-color: #fff;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
  position: absolute;
  right: 10px;
  z-index: 1;
  outline: none;
}
.mini-search i {
  font-size: 16px;
}
.shopping-cart {
  display: inline-block;
}
.shopping-cart a {
  width: 24px;
  height: 28px;
}
.nav-menu {
  background-color: #E0E1DD;
}
.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 935px;
  margin: 0 auto;
}
.nav-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 0;
  margin: 0 5px 0 0;
  letter-spacing: 1.5px;
}
.nav-ul li:first-child {
  margin: 0;
}
.nav-ul li a {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0 10px;
  line-height: 45px;
  color: #252c26;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid #e0e1dd;
}
.nav-ul li a:hover {
  border-bottom: 3px solid #252c26;
}
.toogle-mobile-menu {
  display: none;
}
.sct-sale {
  background-image: url("../images/bgisale.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 350px;
}
.sale-main {
  height: 350px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sale-main__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 10px;
}
.sale-main__percent {
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 88px;
  font-weight: 700;
}
.sale-main__subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.sale-main__remark {
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 30px;
}
.sale-main__remark span {
  font-weight: bold;
  color: #f1c761;
}
.sale-main__shop-links {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.sale-main__shop-links a {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252c26;
  background-color: #fff;
  padding: 8px 20px;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.sale-main__shop-links a:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
}
.sale-main__shop-links a:not(last-child) {
  margin-right: 5px;
}
.widget-site {
  background-color: #2e2b32;
}
.widget-site p {
  padding: 10px;
  color: #eaeaea;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.widget-site p span {
  font-weight: 700;
}
.shop-category {
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantage-shop {
  background-color: #f9f9f9;
  padding: 10px 0;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage-shop__item {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 10px;
  width: 250px;
  justify-content: center;
}
.advantage-shop__icon {
  margin-right: 12px;
}
.advantage-shop__content .title {
  text-transform: uppercase;
  font-weight: 700;
}
.advantage-shop__content a {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #252c26;
}
.advantage-shop__content a .logo {
  display: inline-block;
  padding-right: 4px;
  width: 55px;
  height: 13px;
}
.row {
  margin: 0 -10px;
}
.main-shops {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.main-shops .item-shop {
  max-width: 480px;
  max-height: 480px;
  margin: 0 10px;
  position: relative;
  margin-bottom: 20px;
}
.main-shops .item-shop .btn-shop {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 15%;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #e0e1dd;
  padding: 9px 20px;
  font-size: 13px;
  letter-spacing: 1px;
}
.shipping {
  text-align: center;
  background-image: url("../images/bgifonwhite.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 20px;
}
.shipping__title {
  color: #202020;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.shipping__subtitle {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sct-exclusive {
  padding-bottom: 20px;
}
.exclusive-irish {
  position: relative;
  background-image: url("../images/exclusive.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.exclusive-irish__item {
  width: 300px;
  position: relative;
  left: 20%;
  text-align: center;
  color: #fff;
}
.exclusive-irish__item .title {
  width: 215px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  margin-bottom: 5px;
}
.exclusive-irish__item .subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.exclusive-irish__item .btn-link {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 35px;
  background-color: #fff;
  color: #252c26;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
}
.exclusive-irish__item .btn-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.exclusive-category {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.exclusive-category__item {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}
.exclusive-category__image {
  width: 100%;
  height: 277px;
  overflow: hidden;
  margin-bottom: 20px;
}
.exclusive-category__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exclusive-category__content {
  letter-spacing: 1px;
}
.exclusive-category__content .title {
  margin-bottom: 20px;
  font-size: 24px;
}
.best-products {
  padding-top: 20px;
  padding-bottom: 20px;
}
.best-products .title-center {
  line-height: 0;
  border-bottom: 1px solid #c9cac8;
  text-align: center;
  margin-bottom: 20px;
}
.best-products .title-center span {
  background-color: #fff;
  font-size: 30px;
  padding: 0 20px;
}
.product {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-width: 0;
  padding: 5px 10px;
}
.product__item {
  padding: 10px 29px 5px 29px;
  margin: 10px 10px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3ms;
}
.product__item:hover {
  box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.3);
}
.product__image {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.product__image.discount:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 43px;
  height: 43px;
  background-image: url("../images/exclusive_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 10px;
}
.product__image a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.product__image img {
  object-fit: cover;
  height: 100%;
}
.product__content {
  color: #252c26;
}
.product__content .product-name {
  line-height: 1;
  margin-bottom: 5px;
}
.product__content .product-name a {
  display: inline-block;
  color: #252c26;
  font-size: 14px;
  font-weight: 700;
}
.product__content .product-price {
  font-size: 14px;
}
.product__content .product-price .price {
  text-decoration: line-through;
}
.product__content .product-price .label-finalprice {
  color: #9a1a28;
}
.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 33%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: -5px;
  background: url("../images/arrowprev.png") 0 0% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: -5px;
  background: url("../images/arrownext.svg") 0 0% no-repeat;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.video-irish {
  padding-top: 20px;
  padding-bottom: 20px;
}
.video-product {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.video-product__item {
  position: relative;
  width: 48%;
}
.video-product__container {
  border: 7px solid #A9B089;
  margin-bottom: 27px;
}
.video-product__wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: black;
}
.video-product__wrap img {
  object-fit: cover;
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}
.video-product__wrap img:hover {
  filter: brightness(70%);
}
.video-product__wrap .video-image:after {
  content: '';
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../images/play.png") no-repeat;
  cursor: pointer;
}
.video-product__wrap iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.video-product__content {
  text-align: center;
  padding: 0 10px 29px 10px;
  border-bottom: 1px solid #c9cac8;
  height: 160px;
}
.video-product__content .title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.video-product__content .subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 20px;
}
