@import "zeroing";
@import "mixins";
@import "veriables";
@import "colors";
//<-----------START----------------->

* {
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.3ms;
}

//<------------CONTAINER------------>
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

//<------------HEADER--------------->
.header{
  position: relative;
}

//=============BANNER-TOP============
.banner-top {
  background-color: @banner_bgc;
  text-align: center;
  padding: 10px 0;

  h3 {
    font-size: 18px;
    color: @main_color_tw;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 13px;
    color: @main_color_tw;
    margin: 0;
  }


}

.above-menu {
  background-color: @main_bgc;
  padding: 5px 0 32px;
}

.panel {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;

  &__return-link a {
    color: @main_color_tw;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 16px;

    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      top: 2px;
      background-image: url("../images/globe.svg");
      background-repeat: no-repeat;
      transform: translateY(4px);
      margin-right: 2px;
    }
  }

  &__account a {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 10px;
    color: @main_color_tw;

    &:last-child {
      margin-right: 0;
    }

    &.account-link {
      &:after {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-right: 1px solid @white_color;
        border-bottom: 1px solid @white_color;
        transform: rotate(45deg);
        margin-left: 5px;
        margin-bottom: 3px;
      }
    }

    &.account-carrency {
      display: inline-block;
      position: relative;

      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: @white_color;
        top: 40%;
        transform: translate(-50%, 10%);
        position: relative;
        margin-left: 10px;

        &:after {
          content: '';
          display: inline-block;
          width: 7px;
          height: 7px;
          border-right: 1px solid #a9b089;
          border-bottom: 1px solid #a9b089;
          transform: translate(50%, -60%) rotate(45deg);
        }
      }
    }

  }
}


.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__phone {
    line-height: 0.8;
    position: relative;
    max-width: 250px;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 2px;
      background-image: url("../images/phone.svg");
      background-repeat: no-repeat;
    }

    span {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .phone-number {
      color: @main_color_text;
      font-weight: 700;
      text-align: left;
      position: relative;
      font-size: 14px;
    }
  }

  &__logo {
    position: absolute;
    left: calc(50% - 145px);
    top: -80%;

    img {
      width: 290px;
      height: 110px;
    }
  }
}

.mini-search {
  display: flex;

  .search {
    width: 240px;
    min-height: 32px;
    position: relative;

  }

  .input-text {
    font-size: 14px;
    padding: 0 9px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    font-weight: 700;
    letter-spacing: 1px;
    width: 210px;
    min-height: 32px;
    vertical-align: middle;

    &::placeholder {
      color: @main_color_text;
    }
  }

  .button-submit {
    cursor: pointer;
    min-height: 32px;
    width: 40px;
    display: inline-block;
    background-color: @white_color;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    position: absolute;
    right: 10px;
    z-index: 1;
    outline: none;
  }

  i {
    font-size: 16px;
  }
}


.shopping-cart {
  display: inline-block;

  a {
    width: 24px;
    height: 28px;
  }
}

.nav-menu {
  background-color: @nav_bgc;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 935px;
  margin: 0 auto;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 0;
    margin: 0 5px 0 0;
    letter-spacing: 1.5px;

    &:first-child {
      margin: 0;
    }

    a {
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0 10px;
      line-height: 45px;
      color: #252c26;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 3px solid #e0e1dd;

      &:hover {
        border-bottom: 3px solid @hover_link_buttom;
      }
    }
  }
}

.toogle-mobile-menu {
  display: none;
}

//<-------------SECTION SALE------------>
.sct-sale {
  background-image: url("../images/bgisale.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 350px;
}

.sale-main {
  height: 350px;
  .d-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__title {
    color: @main_color_tw;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 10px;

  }

  &__percent {
    color: @main_color_tw;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 88px;
    font-weight: 700;

  }

  &__subtitle {
    color: @main_color_tw;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__remark {
    color: @main_color_tw;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 30px;

    span {
      font-weight: bold;
      color: #f1c761;
    }
  }

  &__shop-links {
    .d-flex;
    justify-content: space-around;

    a {
      .d-flex;
      justify-content: center;
      align-items: center;
      color: @main_color_text;
      background-color: @main_bgc_w;
      padding: 8px 20px;
      transition: background-color 0.4s ease;
      cursor: pointer;

      &:hover {
        background-color: hsla(0, 0%, 100%, .7);
      }

      &:not(last-child) {
        margin-right: 5px;
      }

    }
  }
}

//<----------------WIDGET---------------->
.widget-site {
  background-color: @widget_bgc;

  p {
    padding: 10px;
    color: #eaeaea;
    text-align: center;
    font-weight: 400;
    font-size: 14px;

    span {
      font-weight: 700;
    }
  }
}

//<-----------------SHOP_CATEGORY------------>
.shop-category {
  padding-top: 20px;
  padding-bottom: 20px;
}

//==================ADVANTAGE-SHOP===============
.advantage-shop {
  background-color: @advantage_bgc;
  padding: 10px 0;
  margin-bottom: 20px;
  .d-flex;
  align-items: center;
  justify-content: center;

  &__item {
    .d-flex;
    padding: 10px;
    width: 250px;
    justify-content: center;
  }

  &__icon {
    margin-right: 12px;
  }

  &__content {
    .title {
      text-transform: uppercase;
      font-weight: 700;
    }

    a {
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      color: @main_color_text;

      .logo {
        display: inline-block;
        padding-right: 4px;
        width: 55px;
        height: 13px;
      }
    }
  }
}

//===================ROW=========================
.row {
  margin: 0 -10px;
}


//==================MAIN_SHOPS===================
.main-shops {
  .d-flex;

  .item-shop {
    max-width: 480px;
    max-height: 480px;
    margin: 0 10px;
    position: relative;
    margin-bottom: 20px;

    .btn-shop {
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      font-weight: 700;
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 15%;
      box-shadow: none;
      background: rgba(0, 0, 0, 0.5);
      color: @main_color_tw;
      border: 1px solid #e0e1dd;
      padding: 9px 20px;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
}

//=======================SHIPPING=================
.shipping {

  text-align: center;
  background-image: url("../images/bgifonwhite.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 20px;

  &__title {
    color: #202020;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

//<-------------SECTION-EXCLUSIVE------------->
.sct-exclusive {
  padding-bottom: 20px;
}

.exclusive-irish {
  position: relative;
  background-image: url("../images/exclusive.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  .d-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &__item {
    width: 300px;
    position: relative;
    left: 20%;
    text-align: center;
    color: @main_color_tw;

    .title {
      width: 215px;
      margin: 0 auto;
      font-size: 30px;
      line-height: 34px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .btn-link {
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 35px;
      background-color: @main_bgc_w;
      color: @main_color_text;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 1px;
      font-size: 14px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

//=================EXCLUSIVE-CATEGORY==================
.exclusive-category {
  .d-flex;
  justify-content: space-between;

  &__item {
    .d-flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
  }

  &__image {
    width: 100%;
    height: 277px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    letter-spacing: 1px;

    .title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}

//<----------------BEST_PRODUCTS-------------->
.best-products {
  padding-top: 20px;
  padding-bottom: 20px;

  .title-center {
    line-height: 0;
    border-bottom: 1px solid @border_title-center;
    text-align: center;
    margin-bottom: 20px;

    span {
      background-color: @main_bgc_w;
      font-size: 30px;
      padding: 0 20px;
    }
  }
}

//===============PRODUCT=======================
.product {
  .d-flex;
  min-width: 0;
  padding: 5px 10px;

  &__item {
    padding: 10px 29px 5px 29px;
    margin: 10px 10px;
    .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3ms;

    &:hover {
      box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, .3);
    }
  }

  &__image {
    margin-bottom: 10px;
    max-height: 200px;
    overflow: hidden;
    position: relative;

    &.discount {
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 43px;
        height: 43px;
        background-image: url("../images/exclusive_icon.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 10px;
        left: 10px;
      }
    }


    a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__content {
    color: @main_color_text;

    .product-name {
      line-height: 1;
      margin-bottom: 5px;

      a {
        display: inline-block;
        color: @main_color_text;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .product-price {
      font-size: 14px;

      .price {
        text-decoration: line-through;
      }

      .label-finalprice {
        color: @final_price;
      }
    }
  }

  //++++++++SLIDER+++++++++++


  //===ARROW==
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 33%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: -5px;
  background: url("../images/arrowprev.png") 0 0 / 100% no-repeat;

}

.slider .slick-arrow.slick-next {
  right: -5px;
  background: url("../images/arrownext.svg") 0 0 / 100% no-repeat;
}

.slick-list {
  overflow: hidden
}

.slick-track {
  .d-flex;
}

//<---------------VIDEO-PRODUCT---------------->
.video-irish {
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-product {
  .d-flex;
  justify-content: space-between;

  &__item {
    position: relative;
    width: 48%;

  }

  &__container {
    border: 7px solid @border_video;
    margin-bottom: 27px;
  }

  &__wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: black;

    img {
      object-fit: cover;
      bottom: 0;
      display: block;
      left: 0;
      margin: auto;
      max-width: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      height: 100%;
      cursor: pointer;
      -webkit-transition: .4s all;
      -moz-transition: .4s all;
      transition: .4s all;
      //z-index: 10;
      &:hover {
        filter: brightness(70%);
      }
    }

    .video-image {
      &:after {
        content: '';
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("../images/play.png") no-repeat;
        cursor: pointer;
      }
    }

    iframe {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }
  }

  &__content {
    text-align: center;
    padding: 0 10px 29px 10px;
    border-bottom: 1px solid @border_title-center;
    height: 160px;

    .title {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .subtitle {
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 20px;
    }

  }
}