html {
  padding: 0;
  margin: 0;
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}
html p {
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
}
html img {
  border: none;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
html strong {
  font-weight: bold;
}
html em {
  font-style: italic;
}
html form,
html menu,
html iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
html ol,
html ul,
html dl,
html li,
html dt,
html dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
html table {
  width: 100%;
  border-collapse: collapse;
}
html * {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
