html {
  padding: 0;
  margin: 0;
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    border: none;
    max-height: 100%;
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  ol, ul, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  * {
    outline: none;
    font-family: 'Open Sans', sans-serif;
  }
}
button{
  border: none;
}